.imgIoder {
    position: absolute;
    z-index: 999;
}

.user {
    color: yellow;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    text-align: center;
}

.number {
    text-align: center;
}

.thisPage {
    font-weight: bold;
    color: white;
}

.user div {
    margin: 0 auto;
}


.number span {
    cursor: pointer;
    letter-spacing: 20px;
}

/* .user span-item {
    grid-template-columns: 2fr 2fr;
} */

.user img {
    width: 150px;
}

div.user button.btn {
    max-width: 150px;
    max-height: 150px;
}
